URxvt.geometry: 140x30
URxvt.transparent: True
URxvt.shading: 20
URxvt.fading: 30

URxvt.thickness: 1
URxvt.scrollBar: off

URxvt.borderLess: False

URxvt.urgentOnBell: True
URxvt.visualBell: False

URxvt.perl-ext-common: default,clipboard,selection-to-clipboard

*foreground: #DDEEDD
*background: #161616

!Black
*color0:  #25374A
*color8:  #3A526B

!Red
*color1:  #BD4A4A
*color9:  #CC6666

!Green
*color2:  #B7CE42
*color10: #BDE077

!Yellow
*color3:  #FEA63C
*color11: #FFE863

!Blue
*color4:  #66AABB
*color12: #AACCBB

!Magenta
*color5:  #F26B9E
*color13: #FF5879

!Cyan
*color6:  #72AD8C
*color14: #9FE3BC

!White
*color7:  #DDEEDD
*color15: #FFFFFF
